* {
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Grandstander', cursive;
  font-family: 'Righteous', cursive;


}

title {
  display: none;
}

body {
  display: flex;
  flex-direction: column;

}

header {
  background-color: #F3bad6;
  flex-flow: column;
  color: #FB45B9;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;



}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  width: 100%;

}

.logo {

  position: absolute;
  left: 45%;
  top: 42px;
  transform: translate(0%,-50%);

  }


.opciones{
  position: absolute;
  right: 1vw;
  top: 16vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.opciones i{
  color: white;
}

.carrito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrito a{
  color: white;
}

.carrito a:hover{
  text-decoration: none;
}

.buscar, .carrito{
  margin: 0 35px;
}

.buscar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buscar a{
  color: white;
}
.buscar a:hover{
  text-decoration: none;
}
.menu {
  position: absolute;
  right: 1vw;
  top: 3vh;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar {
  width: 100%;
  font-weight: 200;

}

.navbar-nav {
  cursor: pointer;
  background-color: pink;

}

.navbar.navbar-4 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=black');

}

.responsive{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.barra {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.n1 {
  height: 15px;
  margin: 15px;
}
.n1 a{
  color: white;
}



main .principal1 {
  display: flex;
  flex-wrap: wrap;
  text-align:center;
  width: 100%;
  height: 40vh;
  object-fit: cover;

}

footer {
  width: 100vw;
  background-color: #F3bad6;
}

footer h2 {
  text-align: center;
}

footer .secciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.seccion{
  margin-right: 110px;

}
.seccion h3, .seccion p {
  text-align: center;
}
.seccion>a{
  color: black;
  margin:25px auto;
}
.seccion>a:hover{
  text-decoration: none;
  color: black;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-top: 120px;
}

.icono_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  width: 50px;
  border: 3px solid white;
  border-radius: 50px;
  margin: 0 auto;
  font-size: 25px;
  text-decoration: none;
}
.facebook:hover{
  color: blue;
  border: 3px solid blue;
  transition: .2s all;
  cursor: pointer;
}

.instagram:hover{
  color: violet;
  border: 3px solid violet;
  transition: .2s all;
  cursor: pointer;
}

.whatsapp:hover{
  color: green;
  border: 3px solid green;
  transition: .2s all;
  cursor: pointer;
}

.pagos .metodo{
  margin: 15px;
}
.footer {
  text-align: center;
  margin-top: 10px;
}


.nuestrosprod {
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 10px;
  align-content: center;
  text-align: center;

}
.prod img{
  height: 200px;
  width: 200px;
  border: 5px solid #BB8FCE;
  object-fit: cover;
  margin: 10px;
  padding: auto;
  }

  @media (max-width: 900px){

  header{

    height:  20vh;
  }

  .opciones{

    top: 10vh;
  }


  .n1{
    display:none;
  }

  footer .secciones {

  flex-direction: column;
  }

  .seccion{

    margin: 15px auto;
  }

  }

  @media (max-width: 900px){

  header{

    height:  20vh;
  }

  .opciones{

    top: 10vh;
  }


  .n1{
    display:none;
  }

  footer .secciones {

  flex-direction: column;
  }

  .seccion{

    margin: 15px auto;
  }

  }

  @media (max-width: 530px){

  .menu{

    top:18vh;
    background: #F3bad6;
    left: 1vw;
    right: 0;
    width: 101vw;
    margin-left: 5px;
    z-index: 1;
  }

  .principal1{

  margin-top: 10px;

  }

  .opciones{

  top: 5vh;

  }

  .carrito{

    position: relative;
    left: -65%;
  }

  .banner>a{

    margin-right: 65vw;
  }

  }


  @media (max-width:420px){

    .carrito{

      left: -55%;
    }
  }

  @media (max-width:392px){

    .carrito{

      left: -40%;
    }
  }

  @media (max-width: 320px ){

    .carrito{

      left: -20%;
    }
  }
